.IngredientList {
  font-family: var(--type-family);
}

.IngredientList__Info {
  margin-left: var(--space-s);
  font-style: italic;
  font-weight: var(--type-light);
  font-size: var(--type-small);
}

.IngredientList__Info::before {
  content: "(";
}

.IngredientList__Info::after {
  content: ")";
}

.IngredientList__FlexRow {
  display: flex;
}

.IngredientList__Label {
  flex-grow: 1;
}

.IngredientList__Checkbox.IngredientList__Checkbox {
  margin: var(--space-s);
}
